<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.304.3" targetFramework="net472" />
  <package id="AWSSDK.Organizations" version="3.7.302.39" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net472" />
  <package id="FluentFTP" version="50.0.1" targetFramework="net472" />
  <package id="jQuery" version="3.7.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Org.Sdmx.Resources.SdmxMl.Schemas.V21" version="9.11.0" targetFramework="net472" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net472" />
  <package id="TLSchema" version="1.1.0" targetFramework="net472" />
  <package id="Tlsh.net" version="1.0.2" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
  <package id="WireMock.Org.Abstractions" version="1.5.54" targetFramework="net472" />
  <package id="XObjects" version="9.11.0" targetFramework="net472" />
</packages>